body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eef0f3;
}

.gameRecommendBox {
  padding: 14px 10px 11px;
  border-radius: 15px;
  background-color: #ffffff;
}

.title {
  display: inline-block;
  border-radius: 20px;

  &:hover {
    background-color: #F5F5F5;
  }
  &:focus {
    outline: 1px solid #2049df;
    outline-offset: 1px;
  }

  h2 {
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: -0.01em;
    color: #333333;
    padding: 0 10px 0 40px;
    background-image: url("../../images/icon-game.svg");
    background-position: 10px center;
    background-size: 24px 24px;
    background-repeat: no-repeat;
  }
}

.carousel_box {
  margin: 14px 0 0;
  padding: 3px 0;
}

.list {
  display: flex;
  gap: 16px;
  padding: 0 14px;
  
  .media {
    position: relative;
    width: 160px;
    border-radius: 12px;

    .clip {
      overflow: hidden;
      border-radius: 12px;

      img {
        width: 160px;
        display: block;
      }
    }

    .character {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      width: 160px;
      height: 172px;
      transition: transform 0.3s ease;
      transform-origin: center bottom; /* 커져도 아래쪽 기준으로 */
      border-radius: 12px;
    }
  }

  .game:hover .character {
    transform: translateX(-50%) scale(1.05);
  }

  .game {
    display: inline-block;
    
    &:hover {
      .txt_box h3 {
        opacity: 0.64;
      }
      .txt_box p {
        opacity: 0.64;
      }
    }

    &:focus {
      outline: none;
      box-shadow: inset 0 0 0 1px #2049df;  
    }
  }
}
  
  
.txt_box {
  margin: 8px 0 0;
  
  h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #000000;
  }
  p {
    margin: 2px 0 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    letter-spacing: -0.01em;
    color: #000000;
  }
  span {
    margin: 8px 0 0;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.01em;
    color: rgba(0, 0, 0, 0.48);
  }
}

.carouselControl {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 11px 0 0;

  .controlBtn {
    border: none;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 50%;
    background-image: url("../../images/icon-control.svg");
    background-size: 8px 14px;
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      background-color: #f5f5f5;
    }

    &:focus {
      outline: none;
      box-shadow: inset 0 0 0 1px #2049df;
    }
    &.prev {
      transform: scaleX(-1);
    }
  }
  .page {
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    letter-spacing: -0.01em;
    color: #000000;

    &.total {
    color: rgba(0, 0, 0, 0.48);
    }
  }
}
